<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snowstorms.ms_lease_core.dao.UserDao">
    <select id="login" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM t_user u
        WHERE u.username=#{username}
        AND u.password=#{password}
    </select>

    <select id="exist" resultType="java.lang.Integer">
        SELECT count(*)
        FROM t_user u
        WHERE u.username=#{username}
    </select>

    <insert id="register">
        INSERT INTO t_user(username,password) VALUE ('${username}','${password}')
    </insert>

</mapper>